In [3]:
# print 0 to 20 by using range
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [7]:
# print range 10 to 20 (in same line)
for i in range(10,20):
    print(i, end=" ")

10 11 12 13 14 15 16 17 18 19

In [9]:
 # Print number of items in the list by using 'len' 
List2=[10, 20, 14, 55, 43, 87, 76]
print(List2)
print("Number of item in the List2:")
print(len(List2))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
7

In [12]:
Text="Artificial Intelligence"
print("Artificial Intelligence")
for char in Text:
    print(char)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [14]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [5]:
#Refer this link : https://www.geeksforgeeks.org/python-tuples/ 
# Print yhis mixered datatype using Tuples 
#(1, 'Welcome', 2, 'Hope')
tuple3=(1,'Welcome', 2, 'Hope')
print(tuple3)

(1, 'Welcome', 2, 'Hope')

In [6]:
 #Refer this link : https://www.geeksforgeeks.org/python-tuples/ 
Tuple1 = (0, 1, 2, 3)
Tuple2=('python','HOPE')
Tuple3=((Tuple1,Tuple2))
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [7]:
# print Odd Numbers in the list
tuple2=(20,10,16,19,25,1,276,188)
print(tuple2)
for i in tuple2:
    if(i%2!=0):
        print(i,"is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [8]:
# print Even Numbers in the list
print(tuple2)
for i in tuple2:
    if(i%2==0):
        print(i,"is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even